body{
    padding: 0;
    margin: 0;
   
    overflow: auto;
}

header{
    background-color: #003B23;
    height: 127px;
}

.wrapper{
    width: 1000px;
    display: block;
    margin: 0 auto;
    
}

.menu{
    border-left: 1px #F2F2F2 solid; 
    border-right: 1px #F2F2F2 solid;
    text-align: center;
}

.content{
    min-height: 348px;
    border: 1px #003B23 solid;
    border-radius: 8px;
    margin: 20px 0px;
    text-align: center;
   // background-image: url(../..//imgs/3021416-poster-p-1-how-a-cup-of-tea-makes-you-happier-healthier-and-more-productive.jpg); 
}



.fuck{
    float:right;
    border-radius: 8px;
    width:150px;

}
.left p{
    color: yellow;
    margin: 0;
    display:block;
    padding: 5px;
    text-align: center;
}

.left p a{
    color: midnightblue;
}
.left p a:hover{
    color: white;
}



.footer{
    text-align: center;
    font-family: 'Slabo 27px', serif;
}
.footer p{
    margin-bottom:0px;
    margin-top:0px;
    text-align:center;
}

.thanks p{   
    margin-bottom:0px;
    margin-top:0px;
    text-align: center;
    color: white;
    background-color:#003B23;
}

ul {  
    text-align: left;
    display: inline;
    margin: 0;
    padding: 15px 4px 17px 0;
    list-style: none;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

ul a{
     color: #003B23;
}

ul 

a{
    text-decoration: none;
}
ul li {
    font: bold 12px/18px sans-serif;
    display: inline-block;
    margin-right: -4px;
    position: relative;
    padding: 1px 57px;
    background-image: linear-gradient(gold,#CE8F30);/* thay doi mau cua nav*/
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
ul li:hover {
    background: #CE8F30;
}
ul li a:hover{
    color: white;
}
ul li ul {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    position: absolute;
    top: 48px;
    left: 0;
    width: 220px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
ul li ul:visited{
    background: #CE8F30;
}
ul li ul li { 
    background:activecaption; 
    display: block; 
    color: #fff;
    text-shadow: 0 -1px 0 #000;
    
}
ul li ul li:hover {
    background:olive;
}

ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;

}


